<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cekpedia">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logocekpedia1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFqQlvZglmRiDgJKb_dGWBaI1LPEK1Ymk" />
        <meta-data android:name="com.google.android.gms.version" />

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="PENGINAPAN"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MasjidActivity"
            android:label="MASJID"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".WisataActivity"
            android:label="WISATA"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RumahsakitActivity"
            android:label="RUMAH SAKIT"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RestoranActivity"
            android:label="RESTORAN"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SupermarketActivity"
            android:label="SUPERMARKET"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SekolahActivity"
            android:label="SEKOLAH"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TransportasiActivity"
            android:label="TRANSPORTASI"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SPBUActivity"
            android:label="SPBU"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ApotekActivity"
            android:label="APOTEK"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BidanActivity"
            android:label="BIDAN"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity2"
            android:label="@string/title_activity_login2" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".InputLokasiActivity"
            android:label="Input Location"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EditorTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SubMenuActivity" />
        <activity android:name=".FavouriteActivity" />
        <activity android:name=".ListCariActivity" />
        <activity
            android:name=".UtamaActivity"
            android:label="@string/title_activity_utama"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
    </application>

</manifest>